<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">   
<plist version="1.0">   
<dict>   
   <key>items</key>   
   <array>   
       <dict>   
           <key>assets</key>   
           <array>   
               <dict>   
                   <key>kind</key>   
                   <string>software-package</string>   
                   <key>url</key>   
                   <string>https://192.168.1.2:8443/jwork/ipa/hello_world-mobile.ipa</string>   
               </dict>   
           </array>   
           <key>metadata</key>   
           <dict>   
               <key>bundle-identifier</key>   
               <string>com.9wangame.nn</string>
               <key>bundle-version</key>   
               <string>1.0.0</string>   
               <key>kind</key>   
               <string>software</string>   
               <key>subtitle</key>   
               <string>nn</string>   
               <key>title</key>   
               <string>大圣斗牛</string>   
           </dict>   
       </dict>   
   </array>   
</dict>   
</plist>